	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="panel panel-default">
	  		<div class="panel-body text-center">
	    		<h1><span class="typicons-group"></span></h1>
	  		</div>
	  		<div class="panel-footer">
	  			<a href="#/students" class="btn btn-block btn-primary">List Students</a>
	  		</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="panel panel-default">
	  		<div class="panel-body text-center">
	    		<h1><span class="glyphicon glyphicon-plus"></span></h1>
	  		</div>
	  		<div class="panel-footer">
	  			<a href="#/student/add" class="btn btn-block btn-primary">Create Student</a>
	  		</div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="panel panel-default">
	  		<div class="panel-body text-center">
	    		<h1><span class="glyphicon glyphicon-search"></span></h1>
	  		</div>
	  		<div class="panel-footer">
	  			<a href="#/student/find" class="btn btn-block btn-primary">Find Student</a>
	  		</div>
		</div>
	</div>


